form {
    padding: 30px;
    label {
        margin-right: 20px;
    }
    input {
        height: 15px;
        padding: 5px;
    }

    button {
        width: 80px;
        height: 25px;
        margin-left: 20px;
        cursor: pointer;
        border: none;
        background-color: rgb(95, 124, 187);
        color: white;

        &:hover {
            background-color: rgb(142, 169, 228);
        }
    }
}